<h1> Comments </h1>

<%= turbo_stream_from "comments" %>
<div class="commentss" id="comments" data-aos='fade-right' data-aos-duration='2300'>
  <div class="commentss-top">
    <% @comments.each do |c| %> 
      <div class="comment-box cbox-<%= c.user_id %>"> 
        <%= c.content %> 
      </div> 
    <% end %>
  </div>
  <div class="commentss-bottom">
    <p> <%= render 'new_comment_form' %> </p>
  </div>
</div>
