<h3> Your Applications </h3>

<%= turbo_stream_from "enlistments" %>
<div class='col-md-4' id='enlistments'>
  <p> <h6> <%= @enlistments.count %> application(s) </h6> </p>
  <%= render @enlistments %>
</div>