<h1>About GetWork</h1>

<%= image_tag @photo %>

<p style='padding-top: 10px'>
  This platform is aimed at assisting you in finding work. Search for jobs you may be interested. Find out more
  about the companies. Apply and find your dream job.
</p>
