<h1>GetWork</h1>

<%= image_tag @photo %>

<p>
  Looking for a job? We are here to help.
</p>

<p>
  Looking for employees? You've come to the right place.
</p>
<p>
  <%= link_to 'Sign Up', new_user_path,    class:'btn', style:'background-color: gainsboro' %>
  <%= link_to 'Sign In', new_session_path, class:'btn btn-outline-dark' %>
</p>