<h1> Edit Account: <%= @company.name %> </h1>

<div class='col-md-6'>
  <%= render 'form' %>
</div>
<%= link_to "Delete Account", delete_company_path(id: @company.id), class:'btn btn-danger' %>
<%= link_to "Cancel", show_company_path(id: @company.id), class:'btn btn-secondary' %>