  <%= form_with url: search_results_path, method: :post, id: 'search_form' do |f| %>
    <%= f.search_field :search_word, value: params[:search_word], placeholder: 'Search word', autocomplete: 'off' %>
    <%= f.submit "Search", class:'btn btn-outline-light', style:'color:black' %>
  <% end %>

  <div id="search_results">
    <%= render "layouts/search_results", users_results: @users_results %>
  </div>